# {{package.name}}

{{font.family}} fontpack for [connect-fonts](https://github.com/shane-tomlinson/connect-fonts).

## Usage

1. Include [connect-fonts](https://github.com/shane-tomlinson/connect-fonts) in a node module.
```js
const font_middleware = require("connect-fonts");
```

2. Include the font packs that you want to serve.
```js
const font_pack  = require("{{package.name}}");
```

3. Add a middleware by calling the `setup` function.
```js
    app.use(font_middleware.setup({
      fonts: [ font_pack ],
      allow_origin: "https://exampledomain.com"
    }));
```

4. Add a link tag to include the font CSS.
```html
<link href="/{{font.first_names}}/fonts.css" type="text/css" rel="stylesheet"/ >
```

{{#font.all_names}}
Multiple fonts from the family can be included by using a comma separated list of fonts:
```html
<link href="/{{font.all_names}}/fonts.css" type="text/css" rel="stylesheet"/ >
```
{{/font.all_names}}

Available fonts:
{{#font.names}}
* {{.}}
{{/font.names}}

Locale-optimised font sets can be served by specifying the locale in the fonts.css URL.
```html
<link href="/latin/{{font.first_names}}/fonts.css" type="text/css" rel="stylesheet"/ >
```

Available subsets:
{{#meta_info.subsets}}
* {{.}}
{{/meta_info.subsets}}

5. Set your CSS up to use the new font by using the "{{font.family}}" font-family.
```
    body {
      font-family: '{{font.family}}', 'sans-serif', 'serif';
    }
```

## Font Info
{{font.family}}

{{#font.description}}
* Description: {{&font.description}}
{{/font.description}}
{{#font.copyright}}
* Copyright: {{&font.copyright}}
{{/font.copyright}}
{{#font.trademark}}
* Trademark: {{&font.trademark}}
{{/font.trademark}}
{{#font.designer}}
* Designer: {{&font.designer}}
{{/font.designer}}
{{#font.url_designer}}
* Designer URL: {{&font.url_designer}} 
{{/font.url_designer}}
{{#font.manufacturer}}
* Vendor: {{&font.manufacturer}}
{{/font.manufacturer}}
{{#font.url_vendor}}
* Vendor URL: {{&font.url_vendor}}
{{/font.url_vendor}}

## Development Info
{{#package.homepage}}
* Homepage: {{&package.homepage}}
{{/package.homepage}}
{{#package.repourl}}
* Repo: {{&package.repourl}}
{{/package.repourl}}
{{#package.bugsurl}}
* Bugs: {{&package.bugsurl}}
{{/package.bugsurl}}

## Font pack author
* {{author.name}}
{{#author.emails}}
* {{&.}}
{{/author.emails}}
{{#author.urls}}
* {{&.}}
{{/author.urls}}
{{#author.githubs}}
* {{&.}}
{{/author.githubs}}
* {{author.twitter}}

{{#credits}}
## Credits
{{credits}}
{{/credits}}

## License

{{#license.custom}}
Fonts: {{&license.custom}}
{{/license.custom}}
{{#license.version}}
Fonts: Licensed under version {{license.version}} of the {{license.name}}
{{/license.version}}

  {{&license.url}}

Software: Licenced under version 2.0 of the MPL

  https://www.mozilla.org/MPL/

